.user {
    display: flex;
    align-items: center;
    justify-content: start;

    position: fixed;
    z-index: 4;
    top: 2%;
    left: 1%;

    padding: 0;
    width: 17%;
    background-color: #27223a;
    border-radius: 50px;
    box-shadow: 0 0 7px #ea003e98;

    img {
        width: 40px;
        height: 40px;
        margin-right: 3%;
        border-radius: 50%;
    }

    span {
        margin: 0 0 0 2.5%;
        color: white;
    }

    cursor: pointer;
    transition: 0.2s;
}

.user:hover{
    transition: 0.2s;
    box-shadow: 0 0 15px #ea003e98;
}

.filmsList {
    width: 60%;
    margin: 10% auto 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .filmBox {
        padding: 0;
        width: 21%;
        margin-bottom: 3%;
        border-radius: 10px;
        transition: 0.3s;

        display: flex;
        flex-direction: column;

        figure {
            margin: 0;
            position: relative;
            border-radius: 10px;
            cursor: pointer;

            img {
                border-radius: 10px;
                width: 100%;
            }
        }

        .title {
            color: white;
            font-weight: 500;
            margin: 5% auto;
            box-sizing: border-box;
            padding: 0 5px;
        }
    }

    .filmBox:hover{
        box-shadow: 0 0 10px #ea003e98;
        transition: 0.3s;
    }
}